body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --titleBg: #f1b95b;
  --bodyBg1: #faf9e6;
  --bodyBg2: #fcfcfd;
  --border: 1px solid #000;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


